* {
    margin: 0;
    padding: 0;
}

a { 
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: blue; /* mudar a cor */
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 80px; 
}

.fieldset-container {
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
    background-color: #f9f9f9; 
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

h2.login-title {
    text-align: center;
    margin: 20px 0;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input {
    padding: 6px;
    font-size: 14px;
    margin: 5px 0;
    height: 15px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    padding: 6px;
    font-size: 12px;
    width: 100%;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.btn-login {
    color: #3633ff;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-login:hover {
    text-decoration: underline;
}

.form-container label {
    margin: 8px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

